/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sniglet:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html,
body {
  scroll-behavior: smooth;
}

header,
section {
  overflow-x: hidden;
}

/* Header Section */
header a {
  font-family: "Sniglet", cursive;
  font-size: 0.9em;
  color: whitesmoke;
}

header {
  background: #dd2476;
  background: linear-gradient(to bottom, #dd2476, #ff512f);
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link {
  color: white !important;
  transition: all 0.7s ease;
  font-size: 16px;
}

header .nav-link:hover,
header .navbar-brand:hover,
header .navbar-link:active {
  color: #ffc107 !important;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
  padding: 10vmin 1vmin 35vmin 5vmin;
  font-family: "Rubik", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

header .row .col-md-5 img {
  margin-top: 50px !important;
  width: 90%;
  height: 360px;
  border-radius: 20px;
  box-shadow: 1px 1px 30px 2px #000;
}

header .container .col-md-7 h6 {
  font-size: 17px;
  width: fit-content;
  color: #20dbd4;
  line-height: 1;
  margin-bottom: 20px;
}

header .container .col-md-7 h1 {
  font-family: "Sniglet", cursive;
  font-size: 56px;
  line-height: 1.1;
  margin-bottom: 30px;
  max-width: 510px;
  text-align: left;
}

header .container .col-md-7 p {
  max-width: 460px;
  font-size: 18px;
  line-height: 1.71;
  text-transform: uppercase;
  text-align: left;
}

header .container .col-md-7 button {
  border-radius: 30px;
  font-weight: bold;
  background: linear-gradient(to bottom left, #ff3e00, #ffbe30);
  color: #ffffff;
  border: 0;
  padding: 1rem 3rem !important;
}

header .container .col-md-7 button a {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

header .container .col-md-7 button:hover {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.4);
}

header .container .col-md-7 button:hover a:hover {
  color: #ffffff;
}

.navbar,
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-btn {
  text-decoration: none;
  color: #000;
}

.nav-btn {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to left, #ff348f, #ff512f);
  border: none !important;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-image 0.5s ease;
  -webkit-transition: background-image 0.5s ease;
  -moz-transition: background-image 0.5s ease;
  -ms-transition: background-image 0.5s ease;
  -o-transition: background-image 0.5s ease;
}

.nav-btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #ff348f, #ff512f);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-btn:hover::before {
  opacity: 1;
}

/* Highlight Menu */
.highlight {
  border-bottom: 4px solid rgb(80, 119, 224);
}

/* Alert Message */
.alert {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 30vw;
}

/* Main Section */

/* Section 1 */
.section-1 {
  padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0 24px 42px rgba(0, 0, 0, 0.2);
  font-family: "Rubik", sans-serif;
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/* Footer Section */
footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: linear-gradient(to bottom, #dd2476, #ff512f);
  border: none !important;
}

footer .column i {
  color: #dd2476;
  padding: 0 0.5em;
  cursor: pointer;
}

/* Sticky Class */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}

/* Back to TOp Button */

.gotopbtn {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: rgb(0, 132, 255);
  padding: 5px 10px;
  display: none;
  place-items: center;
  border-radius: 3px;
  color: white;
  animation: bounce 2s ease-in-out infinite;
  z-index: -999;
  transition: all 4s ease-in-out;
}

.gotopbtn:hover {
  color: white;
}

.gotopbtn-show {
  display: block !important;
  z-index: 999;
}

/* Event Page */
.event-banner {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../static/Images/main-event-image.jpg);
  overflow: hidden;
}

.event-banner h1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(21, 21, 21, 0.7);
  margin: 0 !important;
  color: #ffc107;
  font-size: 50px;
}

.main-event-container {
  width: 100%;
  min-height: 500px;
  padding: 50px 100px;
}

.login-info-text {
  text-align: center;
  color: #111;
  font-size: 40px;
  margin-top: 30px;
}

.events-create,
.events-container {
  padding: 3rem 0;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.event-list h2 {
  font-size: 40px;
}

.events-create .btn-primary {
  font-size: 20px !important;
  margin-right: 5px;
}

.modal .btn-primary {
  font-size: inherit !important;
}

#events {
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 2%;
  margin: 0;
  padding: 0;
}

.event-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 35px;
  margin: 0 7.5px 10px;
  background: linear-gradient(
    204deg,
    rgba(70, 11, 31, 1) 1%,
    rgba(18, 12, 60, 1) 40%,
    rgba(77, 14, 77, 1) 90%
  );
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.event-data .close {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #ccc;
  font-size: 20px;
}

.event-data h3 {
  font-size: 27px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 0;
  text-transform: capitalize;
}

.event-data p {
  font-size: 18px;
  font-weight: 400;
  color: #dddddd;
  padding: 10px 0;
  text-transform: initial;
}

.event-data h5 {
  font-size: 20px;
  font-weight: 500;
  color: #eeeeee;
  padding: 0 0 10px;
  text-transform: capitalize;
}

.event-data div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Login Page  */
#login,
#signup {
  width: 100%;
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../static/Images/login-background.jpg);
  margin: 0 !important;
}

.overlay {
  width: 100%;
  min-height: 700px;
  background: rgba(21, 21, 21, 0.7);
}

#login .container,
#signup .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.login-text,
.signup-text {
  width: 50%;
}

.login-text h1,
.signup-text h1 {
  color: #ffffff;
  font-size: 50px !important;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
}

.login-text p,
.signup-text p {
  color: #eee;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.login-content,
.signup-content {
  width: 50%;
  background: linear-gradient(
    42deg,
    rgba(176, 201, 248, 1) 0%,
    rgba(246, 174, 209, 1) 50%,
    rgba(248, 209, 215, 1) 100%
  );
  padding: 40px 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-content h1,
.signup-content h1 {
  font-size: 36px;
  color: #333;
  font-weight: 600;
  margin-bottom: 30px;
}

.signup-form,
.login-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form .col-md-12,
.signup-form .col-md-12 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form input,
.signup-form input {
  width: 100%;
  padding: 10px 25px;
  border: 0;
  background: #333;
  margin-bottom: 20px;
  color: #ddd !important;
}

.login-form input:focus,
.signup-form input:focus {
  background: #333 !important;
  color: #ddd !important;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.login-form input::placeholder,
.signup-form input::placeholder {
  color: #ddd !important;
}

.login-form .btn-primary,
.signup-form .btn-primary {
  margin-bottom: 15px !important;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }

  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }

  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }

  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }

  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }

  .section-3 .row .col-md-6 {
    text-align: center !important;
  }

  .section-3 .row .col-md-6 i {
    font-size: 8vmin;
  }

  .section-4 .team {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .section-4 .carousel-inner {
    width: 26rem;
    margin-left: -3.5rem;
  }

  .gotopbtn {
    padding: 3px 6px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 425px) {
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .card {
    width: 18rem;
  }

  .section-4 .carousel-inner {
    margin-left: -14vmin;
  }
}
